@model TheMediaProject.Models.Movies.MovieIndexViewModel
@using TheMediaProject.Models.Movies;

<a asp-action="Create">Create New Movie</a>

<h2>Movielist</h2>

<table>
    @if (Model.MovieListItems.Count > 0)
    {
        @foreach (var movie in Model.MovieListItems)
        {
            <tr>
                <td>
                    <h3><a asp-action="View" asp-controller="Movie" asp-route-id="@movie.Id">@movie.Title (@movie.ReleaseDate.Year)</a>  - @GetPlayTime(movie) </h3>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Movie" asp-route-id="@movie.Id">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    @foreach (var genre in movie.Genre)
                    {
                        @genre
                    }
                </td>
            </tr>
            <p>
                
            </p>
        }
    }
    else
    {
        <p>Er zijn geen films beschikbaar.</p>
    }
</table>

@functions{
    string GetPlayTime(MovieListItemViewModel movie)
    {
        string time = movie.PlayTime.Hours + ":";

        if(movie.PlayTime.Minutes.ToString().Length == 1)
        {
            time += "0" + movie.PlayTime.Minutes;
        }
        else
        {
            time += movie.PlayTime.Minutes;
        }

        return time;
    }
}