<script src="~/js/editItem.js"></script>

@model TheMediaProject.Models.Movies.MovieViewViewModel

<strong>Title</strong>
<p id="Title" onclick="editTitle()">@Model.Title</p>
<form id="TitleForm" asp-controller="EditMovie" asp-action="EditTitle" asp-route-Id="@Model.Id" method="post" style="display:none;">
        <input id="TitleValue" class="form-control" asp-for="Title" />
        <button class="btn btn-primary" type="submit" onclick="saveTitle()">Save Title</button>
        <button class="btn btn-primary" type="button" onclick="cancelTitle()">Cancel</button>
</form>

<strong>Description</strong>
<p id="Description" onclick="editDescription()">@Model.Description</p>
<form id="DescriptionForm" asp-controller="EditMovie" asp-action="EditDescription" asp-route-Id="@Model.Id" method="post" style="display:none;">
    <input id="DescriptionValue" class="form-control" asp-for="Description" />
    <button class="btn btn-primary" type="submit" onclick="saveDescription()">Save Description</button>
    <button class="btn btn-primary" type="button" onclick="cancelDescription()">Cancel</button>
</form>

<strong>PlayTime</strong>
<p>@Model.PlayTime.Hours:@Model.PlayTime.Minutes</p>

<strong>ReleaseDate</strong>
<p>@Model.ReleaseDate.ToShortDateString()</p>

<strong>Genre</strong>
<p>
    @foreach (var genre in Model.Genre)
    {
        @(genre.Name)
    }
</p>

<strong>Director</strong>
<p>
    @foreach (var director in Model.Directors)
    {
        @director.ArtistName
    }
</p>

<strong>Actors</strong>
<p>
    @foreach (var actor in Model.Actors)
    {
        @actor.ArtistName
    }
</p>
